<%= form_with(model: message, local: true, class:"d-flex w-100") do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.text_field :content, placeholder: "Message here..", class: "form-control mb-3" %>

  <%= form.hidden_field :room_id, value: @room.id %>

  <div class="input-group-append">
    <%= form.submit "Send", class: "btn btn-danger ms-2"%>
  </div>
  </div>
<% end %>
