<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
          <div class="col-3">
            <%= render 'form', room: Room.new, class: "form-control" %>
            <hr>
            <% @rooms.each do |room| %>
              <%= link_to room do %>
                <div class="card mb-3">
                  <div class="card-body">
                    <%= room.name %>
                  </div>
                </div>
              <% end %>  
            <% end %>
        </div>
      <div class="col-9">
        <% if @room.present? %>
          <nav class="navbar bg-dark">
            <span class="navbar-brand mb-0 ms-2 h1 text-white"><%= @room.name %></span>
            <ul class="navbar-item align-items-center">
                <span class="nav-item text-white me-1">
                  Hello, <%= current_user.username %>
                </li>
            </span>
          </nav>
                <div class="chat-room p-2">
                  <% @room.messages.each do |message| %>
                    <div class="message mb-3 <%= 'me' if message.user == current_user %>">
                        <div class="containerOfContent">
                          <div class="content">
                            <%= message.content %> - 
                          </div>
                          <div class="createdBy">
                          <%= message.user.username %> - <%= message.created_at %>
                          </div>
                      </div>
                    </div>
                    <hr>
                  <% end %>
                  <div class="chat-box">
                    <%= render 'messages/form', message: Message.new %>
                  </div>
                </div>
        <% end %>
      </div>
   </div>
  </div>
